registry=http://localhost:8081/repository/npmjs/
//localhost:8081/repository/npmjs/:username=dev
//localhost:8081/repository/npmjs/:_password=ZGV2
//localhost:8081/repository/npmjs/:email=dev@dev.com
